
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "settings";

// Bootstrap
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
